@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

html {
    scroll-behavior: smooth;
}

.typewriter{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    letter-spacing: .15em;
    animation: typing 3s steps(20, end) forwards, blink-caret .75s step-end 4;
}

@keyframes typing{
    from{width: 0;}
    to{width: 20ch;}
}

@keyframes blink-caret{
    from, to{border-color: transparent;}
    50%{border-color: orange;}
}

::-webkit-scrollbar{
    display: none;
}